body{
  margin: 0;
  padding: 0;
}

.navbar{
  background: rgb(19, 160, 89);
  list-style: none;
  color:white;
  list-style: square;
  padding: 2vh;
}

ul {list-style-type: none;}

li{
  display: inline;
  margin: 3vw;
  font-size:x-large;
  font-weight: 700;
  color:white;
}

.tackxt{
 min-width:80%;
 margin-left: 10%;
 margin-right: 10%;
 font-size:xx-large;
 margin-top: 10px;
 border-radius: 18px;
 outline-color: rgb(112, 112, 177);
 border: 2px double rgb(167, 137, 196);
 padding: 8px;
 box-shadow: 5px;
}

