body{
  margin: 0;
  padding: 0;
}

.navbar{
  background: rgb(121, 236, 178);
  list-style: none;
  color:white;
  list-style: square;
  padding: 2vh;
}

ul {list-style-type: none;}

li{
  display: inline;
  margin: 3vw;
  font-size:x-large;
  font-weight: 700;
  color:white;
}

.tackxt{
 min-width:80vw;
 margin-left: 4vw;
 font-size:xx-large;
 margin-top: 10px;
 border-radius: 18px;
 outline-color: blue;
 border: 2px solid blueviolet;
 padding: 8px;
}